{% extends "comon/layout.html" %}
{% set tilte="Upload" %}
{%block content%}

<!-- Header -->
  <header id="header">
    <h1>MLFactory - Image Classifier</h1>
    <p>Put an image or an archive<br />
    I know how to recognize cats, dogs and monkeys. &#129299;</p>
  </header>

<!-- Signup Form -->
    <div class="alert-danger" id="alert-danger">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Sorry !</strong> Unexpected file...
    </div>
    <div class="alert-succes" id="alert-succes">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Good !</strong> submit file to check result.
    </div>
  <form id="signup-form" method="post" action="/uploaded_file">
    <input type="text" name="text" id="text" onclick="open_file();" placeholder="File or archive" readonly/>
    <input type="file" name="text" onchange="set_name_of_file();" id="file" placeholder="Email Address" required/>
    <input id="btn-submit" type="submit" value="Submit" />
  </form>

{% endblock %}
