<!doctype html>
<html class="no-js" lang="en">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>MLFactory | {{title}}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

            <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {% endblock %}
    </head>
    <body class="is-preload" >

        {%block content%}
        {% endblock %}

        <script type="text/javascript">
            function open_file(){
                document.getElementById('file').click();
            }
            function set_name_of_file(){

                var name_file = document.getElementById('file').value ;
                name_file = name_file.split('\\')
                extension = name_file[name_file.length - 1].split('.');

                if(extension[1].toLowerCase() == 'jpg' || extension[1].toLowerCase() == 'jpeg'
                    || extension[1].toLowerCase() == 'png'
                    || extension[1].toLowerCase() == 'zip'){

                    document.getElementById('alert-danger').style.display = 'none';
                    document.getElementById('alert-succes').style.display = 'block';
                    document.getElementById('text').value = name_file[name_file.length - 1];
                    document.getElementById("btn-submit").disabled = false;

                }else{

                    document.getElementById('alert-succes').style.display = 'none';
                    document.getElementById('alert-danger').style.display = 'block';
                    document.getElementById('btn-submit').disabled = true;
                }
            }
        </script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

    </body>
</html>
